.u-text-bold {
  font-weight: bold !important;
}

.u-color--conversion-auction {
  color: @color-conversion-auction !important;
}

.u-color--conversion-classified {
  color: @color-conversion-classified !important;
}

.u-color--conversion-buynow {
  color: @color-conversion-buynow !important;
}

.u-border-top--separation {
  border-top: 1px solid @color-grey-30;
}
